loans {
    position: absolute;
    width: 136px;
    height: 56px;
    left: 487px;
    top: 1099px;


}

airtime {
    position: absolute;
    width: 136px;
    height: 56px;
    left: 122px;
    top: 1099px;
    
}

transfer{
    position: absolute;
    width: 136px;
    height: 56px;
    left: 377px;
    top: 2003px;
    
    border-radius: 5px;
}


data {
    position: absolute;
width: 136px;
height: 56px;
left: 1130px;
top: 1099px;

background: #FFFFFF;
}

empty card {
    position: absolute;
    width: 136px;
    height: 56px;
    left: 209px;
    top: 631px;


}
